{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>search</title>
</head>
<body>
    <div class="books">
        <h1>Search</h1>
    </div>
    <div class="bar">
        <form method="POST" action="">
            {% csrf_token %}
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i>Search</button>
        </form>
    </div>

            {% if sr %}
            {% for rows in sr %}
          
            <img src="{{rows.product_image.url}}" style="height: 350px; width:225px;"><br>
                   {{rows.product_name}} <br>
                   {{rows.product_code}} <br>
                   {{rows.product_price}} <br>
                    
                       
                
                           
                   
                    <button type="button" class="btn-primary col-lg-12">Buy Now</button><br>
                    <button type="button" class="btn-warning col-lg-12">Add to Cart</button><br>
                   
                    <!-- <tr>
                        <td>Describe</td>
                        <td>{{rows.describe}}</td>
                    </tr> -->
                    </table>
            {% endfor %}
         
            {% endif %}
                   </header>
                    
    
</body>
</html>